@import 'tailwindcss';

@font-face {
	font-family: 'Early Gameboy';
	src: url('/fonts/Early_GameBoy.ttf');
}

@font-face {
	font-family: 'Monocraft';
	src: url('/fonts/Monocraft.ttf');
}

@theme {
	--color-raisin: #1d2025;
	--color-content-gutter: #282c34;
	--color-dis-txt: #656b77;

	--color-snow: #e2e2e2;
	--color-snowflake: #abb2bf;

	--font-orbit: 'Orbit', sans-serif;
	--font-dotgothic: 'DotGothic16', 'JetBrains Mono', monospace;
	--font-jetbrains: 'JetBrains Mono', monospace;
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--color-raisin);
}
